Package: com.tyhoff.spotdefine
Name: SpotDefine
Depends: mobilesubstrate, firmware (>= 7.0)
Version: 1.1
Architecture: iphoneos-arm
Description: Add local dictionary lookup in Spotlight. 
Maintainer: Tyler Hoffman <tyhoffman1@gmail.com>
Author: Tyler Hoffman <tyhoffman1@gmail.com>
Section: Tweaks
Homepage: https://github.com/tyhoff/SpotDefine