<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSTypeIsPackage</key>
	<true />
	<key>SPCategory</key>
	<string>SpotDefineSearch</string>
	<key>SPDisplayIdentifier</key>
	<string>com.tyhoff.SpotDefine</string>
	<key>TLIsSearchBundle</key>
	<true />
	<key>TLDisplayName</key>
	<string>Dictionary</string>
</dict>
</plist>
